<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbMainAddress</key>
	<string>http://127.0.0.1</string>
	<key>dbInfoAddress</key>
	<string>http://127.0.0.1/dbInfo.php</string>
	<key>dbSensorValueAddress</key>
	<string>http://127.0.0.1/dbSensorValue.php</string>
	<key>dbRegisterAddress</key>
	<string>http://127.0.0.1/register.php</string>
	<key>dbUserName</key>
	<string>root</string>
	<key>dbPassword</key>
	<string>root</string>
	<key>dbName</key>
	<string>eEyes</string>
	<key>dbTable</key>
	<string>RealID10001</string>
	<key>dbField</key>
	<string>RawValue</string>
	<key>startDate</key>
	<string>2017-01-25 21:46:04</string>
	<key>endDate</key>
	<string>2017-01-25 21:48:08</string>
	<key>appUserName</key>
	<string>user</string>
	<key>appPassword</key>
	<string>password</string>
	<key>isDisplayRealTimeChart</key>
	<false/>
</dict>
</plist>
